body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 1em;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

header, footer {
    padding: 1em;
    background-color: #222;
    color: #fff;
    text-align: center;
}
