body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 1em;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

header, footer {
    padding: 1em;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.logo {
    font-size: 2em;
    color: #ff6600;
    margin-right: 1em;
}

nav ul {
    background-color: #333;
    padding: 0.5em;
    border-radius: 5px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1.5em;
    border-radius: 8px;
    color: #333;
}
